{% extends 'todo/main.html'%}
{% block content %}
<body>
<h1> Task: {{ task }} </h1>

<table>

<tr> 
    <td> <b> Date Assigned: </b> {{task.created}}</td>
      
</tr>
<tr>
    <td> <b> Task Description: </b>{{task.description}}</td>
</tr>
<tr>
    <td> 
        {% if tasks.complete %}
       <h2 class="completion-message"> Congrats! You have marked this task as completed!!! </h2>
       {% else %}
       <h2 class="completion-message"> You are on track to complete this Task, you got this! </h2>
       <h4 class="completion-message-2"> Mark as completed by going to edit view and marking as completed</h4>
       {% endif %}
    </td>
</tr>

</table>

<a href="{% url 'task' %}"> Return to List </a>

</body>
{% endblock content %}