{% if request.user.is_authenticated%}
<p> {{request.user}}</p>
<a href="{% url 'logout' %}"> Logout</a> 
{% else %}
    <a href=""> Login </a>
{% endif %}
<hr></hr>
<h1> My todo List: </h1>
<table> 
    <tr>
        <th>Items:</th>
        <td> <a href="{% url 'task-create' %}"> Add Task: </a></td>
    </tr>
<!-- way to write python code in django -->
    {% for tasks in task %} 
    <tr> 
        <td>
            {{tasks.title}}
        </td>
        <td> <a href="{% url 'tasks-detail' tasks.id %}"> View: </a></td>
        <td> <a href="{% url 'tasks-update' tasks.id %}"> Edit: </a></td>
        <td> <a href="{% url 'tasks-delete' tasks.id %}"> Delete </a></td>
    </tr>
    <!-- when the user has nothing in the list -->
    {% empty %}
    <h3> No items found in your list </h3>
    <td> <a href="{% url 'task-create' %}"> Add New Task: </a></td>
    {% endfor %}
</table>